@import "normalize.css";

body, html {
    width: 100%;
    height: 100%;
}

body, div, span, a, img, h1, h2, h3, h4, h5 {
    box-sizing: border-box;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-shrink: 0;
    align-content: flex-start;

    border: 0 solid black;
    margin: 0;
    padding: 0;
}

* {
    position: relative;
}

body {
    background: url("../img/bg.jpg") no-repeat bottom;
    background-size: 100% 50%;
    color: #202020;
    font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
}

h1 {
    font-size: 64px;
    font-weight: 100;
}

h2 {
    font-size: 48px;
    font-weight: 100;
}

h3 {
    font-size: 24px;
    font-weight: 100;
}

p {
    font-size: 16px;
}

a {
    font-weight: 400;
}

/*a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}
*/

.site {
    height: 100%;
    flex-direction: row;
    background: linear-gradient(to bottom, #F7F8FA 50%, transparent);
}

.site__main {
    height: 100%;
    flex-basis: 70%;
    flex-direction: row;
    padding-left: 170px;
}

.site__right-sidebar {
    position: fixed;
    width: 30%;
    height: 100%;
    /*background-color: #C4CCDA;*/
    /*padding: 0 20px 20px;*/
}

.site__left-sidebar {
    position: fixed;
    left: 0;
    width: 170px;
    height: 100%;
    padding: 20px 15px 0;
    flex-basis: auto;
    flex-grow: 0;
    align-items: flex-start;
}

.site__content {
    flex-basis: 0;
    flex-grow: 1;
}

.products {
    flex-direction: row;
    flex-wrap: wrap;
}

.product {
    padding: 10px;
    width: 50%;
    margin-bottom: 20px;

    /*background-color: rgba(0,255,0,0.3);*/
    /*height: 250px;*/
}

.product__display {
    height: 100%;
    border: 5px solid #D8D8D8;
    background-color: white;
    padding: 20px 30px 15px;
    margin-bottom: 15px;
}

.product__img {
    width: 100%;
    margin-bottom: 25px;
}

.product__price {
    font-family: "AvenirNext-DemiBold", sans-serif;
    font-size: 24px;
    color: #353B46;
    position: absolute;
    top: 15px;
    right: 15px;
}

.product__add {
    background-color: #D8D8D8;
    width: 60px;
    height: 60px;
    align-self: center;
    border-radius: 60px;
    justify-content: center;
}

.product__description {
    flex-direction: row;
    align-items: center;
}

.product__name {
    flex-basis: 0;
    flex-grow: 1;
    font-family: "AvenirNext-UltraLight", sans-serif;
    color: #202020;
    font-size: 18px;
}

.product__heart {
    flex-basis: auto;
    flex-grow: 0;
}

.cart {
    flex-basis: 0;
    flex-grow: 1;
    overflow: scroll;
    font-family: "AvenirNext-UltraLight", sans-serif;
    padding: 0 20px;
    background-color: #C4CCDA;
}

.cart-item {
    /*height: 150px;*/
    margin-bottom: 20px;
}

.cart__title {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 5px 0;
    font-size: 24px;
    color: #202020;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(192,207,221,1), rgba(192,207,221,0.3));
}

.cart__content {
    margin-top: 50px;
}

.cart-item__top-part {
    flex-direction: row;
    align-items: center;
}

.cart-item__image {
    flex-basis: 33%;
}

.cart-item__image img {
    width: 100%;
}

.cart-item__top-part__middle {
    padding-left: 15px;
    flex-basis: 0;
    flex-grow: 1;
    font-size: 18px;
    color: #202020;
}

.cart-item__price {
    font-family: "AvenirNext-Regular", sans-serif;
}

.cart-item__trash {
    flex-basis: auto;
    flex-grow: 0;
}

.cart-item__qty {
    margin-top: 5px;
    width: 33%;
}

.cart-item__qty .adjust-qty {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.adjust-qty__button {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #F7F8FA;
    align-items: center;
    justify-content: center;
}

.adjust-qty__number {
    font-size: 18px;
    color: #202020;
    margin: 0 5px;
}

.cart-checkout-overlay {
    position: fixed;
    bottom: 276px;
    width: 100%;
    height: 5%;
    background: linear-gradient(to bottom, transparent, rgba(196,204,218,1));
}

.checkout {
    padding: 0 20px 20px;
    flex-basis: auto;
    flex-grow: 0;
    background: linear-gradient(to bottom, rgba(196,204,218,1) 10%, transparent);
}

.checkout__divider {
    width: 60%;
    border-width: 1px 0 0;
    border-color: #979797;
    margin-top: 20px;
}

.checkout__coupon-input {
    margin-top: 12px;
    padding: 5px 5px;
}

.checkout__content {
    font-family: "AvenirNext-Regular", sans-serif;
    font-size: 24px;
    color: #202020;
}

.checkout-item {
    margin-top: 5px;
    flex-direction: row;
    justify-content: space-between;
}

.checkout__subtotal {
    font-family: "AvenirNext-DemiBold", sans-serif;
}

.checkout__subtotal-content {
    align-items: flex-end;
}

.checkout__amount--strikeout {
    text-decoration: line-through
}

.checkout__amount--saving {
    margin-top: 5px;
    font-family: "AvenirNext-Bold", sans-serif;
    color: #DC1A00;
}

.checkout__btn {
    margin-top: 5px;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 60px;
    border-radius: 3px;
    background-color: #80A590;
    color: #F7F8FA;
    font-size: 24px;
    font-family: "AvenirNext-DemiBold", sans-serif;
}

.checkout__btn__icon {
    margin-right: 24px;
}

.site__right-sidebar-toggle {
    justify-content: center;
    height: 50px;
    width: 60px;
    background: black;
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
}

body.js-show-right-sidebar .site__right-sidebar-toggle {
    right: 80%;
}

@media (max-width: 950px) {
    .site__main {
        flex-basis: 60%;
    }

    .site__right-sidebar {
        width: 40%;
    }

    .product {
        width: 100%;
    }
}

@media (max-width: 600px) {

    .max-width-600-hide {
        display: none;
    }

    .site__left-sidebar {
        display: none;
    }

    .site__main {
        flex-basis: 100%;
        padding-left: 0;
    }

    .site__right-sidebar {
        right: 0;
        width: 80%;
        /*opacity: 0.3;*/
        background-color: #C4CCDA;
    }

    .site__right-sidebar-toggle {
        display: flex;
    }
}
